//handlebarextensionforexpress

<html>
<head>
  <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    {{>header}}
    <p>Done by {{name}}</p>
    <form>
      
      <input placeholder="location">
      <label for="xyz"></label>
      <button>Search</button>
    </form>
      <script src="js/appp.js"></script>
</body>
</html>